.img1{border-style: dashed;
margin: 5px;
padding: 10px;
color: green;
width:700px

}

.img2{border-style: double;
    margin: 5px;
    padding: 10px;
    color: hotpink;
    width: 750px;
}

.img3 {border-style:groove;
    margin: 5px;
    padding: 10px;        
color: lightseagreen; 
width:650px      }
 
  .img4{border-style: solid;
    margin: 5px;
    padding: 10px; 
color: maroon;
width:230px
}

.img5 {border-style: dashed;
    margin: 5px;
    padding: 10px; 
color: mediumvioletred;
width:255px
}


body{background-color: lightsalmon;}