{margin:0%;}
#algarve{
    height: 50vh;
    width: 50vw;
    float: left;
}

#belem{
    height: 50vh;
    width: 50vw;
    float: right;
}

#algarve, #belem{
    text-align: center;
}

#img-algarve{
    border: 4px double blue
    
}

#img-belem{
    opacity: 0.7;
    border: 4px double green;
}